{% extends 'main/layout.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
    <div class="features">
        <h1>Регистрация</h1>
        <form method="post">
            {% csrf_token %}
            <p>Имя пользователя</p>
            {{ form.username }}<br>
            <p>Пароль</p>
            {{ form.password1 }}<br>
            <p>Подтвердите пароль</p>
            {{ form.password2 }}<br>
            <p></p>
            <button class="btn btn-outline-success" type="submit">Зарегистрироваться</button>
        </form>
        </form>
    </div>
{% endblock %}